.search-input {
    width: 300px; 
    padding: 10px;
    font-size: 16px; 
    border: 2px solid #ccc; 
    border-radius: 20px; 
    outline: none; 
    transition: border-color 0.3s; 
  }
  
  
  .search-icon {
    position: absolute; 
    top: 50%; 
    right: 10px; 
    transform: translateY(-50%); 
    color: #888; 
    cursor: pointer; 
    transition: color 0.3s; 
  }
  
  .search-input:focus + .search-icon {
    color: #333;
  }
  
  .search-icon:hover {
    color: #555;
  }