.PadreSeccion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.PadreHome {
    align-items: center;
}

.BuscadorHome {
    align-items: center;
}